<template id="openSubtopic">
    <transition name="fade">
        <div id="subtopicForm">
            <h1>Open a Subtopic</h1>

            <div class="card">
                <div class="cardBody">
                    <iframe id="hiddenFrame" name="hiddenFrame" style="width:0; height:0; border:0; border:none;margin:0;"></iframe>

                    <form id="imageForm" action="/postImage" method="post" enctype="multipart/form-data" target="hiddenFrame" style="margin:0">

                        <input type="hidden" id="sessionKey" name="sessionKey" value="">
                        <input type="hidden" id="supertopic" name="supertopic" value="">

                        <input type="text" id="topic" name="topic" class="textbox" placeholder="Topic title"><br><br>
                        <textarea class="textbox" id="body" placeholder="Your content goes here (optional)" rows="10" cols="50"></textarea>
                        <br><br>
                        
                        
                        <button class="button" type="button" id="postButton" value="Post">Post</button>
                    
                    
                        <input type="file" id="imageButton" name="fileHolder" value="Image"/>
                        <label class="button" for="imageButton">Image</label>

                    </form>
                </div>
            </div>
        </div>
    </transition>
</template>

<script type="text/javascript">

    Vue.component('openSubtopic', {
        template: "#openSubtopic",
        methods: {
            
            
        }
    });



    type="text";
    
    //socket.emit('noteGet', {id:getCookie("session")});
    //socket.emit('join',getCookie("session"));


    $('#topic').on('input',function(e){
        if($("#topic").val()=="<subcomment>"){
            $("#topic").css("color", "rgb(44,244,171)");
           //  $("#topic").css("color", "grey");
       //     $("#topic").css("color", "#C7C7CD");
        }else{
            $("#topic").css("color", "black");
        }
    });

    $("#postButton").click(function(){
        
        if(type=="image"){
            uploadImage();
            return;
        }
        $.post("/post",{
            id:getCookie("session"),
            supertopic:activeSubtopic,
            topic:$("#topic").val(),

            body:$("#body").val()
        },function(result){
            if(result.status=="ok"){
                $("#topic").val("");
                $("#topic").focus();
                $("#body").val("");
                loadSubtopic("#subtopicPane",{topic:activeSubtopic},true);
                //alert("Your Subtopic was posted!");
            }else{
                alert(result.message);
            }
        });

    });

  
     $("#imageButton").change(function (){
        var fileName = $(this).val().replace("C:\\fakepath\\","");
        $("#body").replaceWith("<div class='imageBlock'><h2 style='margin:0px;'>"+fileName+"</h2></div>");
        type="image";

        //  <button class="button" type="submit" id="postButton" value="Post">Post</button>

        $("#postButton").replaceWith('<input class="button" type="submit" id="postButton" value="Post">');

        //alert(fileName);
        });

        $("#imageForm").keydown(function(event){
            if(event.keyCode == 13) {
            event.preventDefault();
            return false;
            }
        });

        $("#imageForm").submit( function(eventObj) {


            $('#supertopic').val(activeSubtopic);
            $('#sessionKey').val(getCookie("session"));

            return true;
        });

    $("#hiddenFrame").on("load", function () {
        resp=$("#hiddenFrame").contents().find("body").html().replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">',"").replace("</pre>","");
        if(resp=="ok"){

            loadSubtopic("#subtopicPane",{topic:activeSubtopic},true);

            //too lazy to think of a way to revert post subtopic Form back, so im just loading it again from server lol
            $.post("/load",{id:getCookie("session"),page:"openSubtopic"},function(div){       
                $("#subtopicForm").fadeOut("fast",function(){
                    $("#subtopicForm").replaceWith(div);
                    $('#subtopicForm').fadeIn("fast");
                });
            });
        }else{
            //stupid firefox thing
            if(resp.length>0){
                alert(resp);
            }
        }
    });



</script>