<div id="loginForm">
    <h1>Login</h1>
    <div class="card">
        <div class="cardBody">
            <input class="textbox" id="username" placeholder="username" type="text"><br><br>
            <input class="textbox" id="password" placeholder="password" type="password"><br>
            <br>
            <input class="button" type="submit" id="loginButton" value="Login">
            <input class="button" type="submit" value="Signup">
        </div>
    </div>
</div>