<div id="loginForm">
    <h1>Login</h1>
    <div class="card">
        <div class="cardBody">
            <input class="textbox" id="username" placeholder="username" type="text"><br><br>
            <input class="textbox" id="password" placeholder="password" type="password"><br>
            <br>
            <input class="button" type="submit" id="loginButton" value="Login">
            <input class="button" type="submit" id="signupButton" value="Signup">
        </div>
    </div>
</div>

<script type="text/javascript">
   // $("#userFields").hide();
    $("#loginButton").click(function(){
        query={username:$("#username").val(),password:$("#password").val()};
        $.post("/login",query,function(result){
            if(result.status=="ok"){
                key=result.message;
                $.post("/load",{id:key,page:"openSubtopic"},function(div){       
                    setCookie("session",key,30);
                    $("#loginForm").fadeOut("fast",function(){
                        $("#loginForm").replaceWith(div);
                        $('#subtopicForm').fadeIn("fast");
                    });
                });
            }else if(result.status=="error"){
                alert(result.message);
            }
        });
    });

    $("#signupButton").click(function(){
        query={username:$("#username").val(),password:$("#password").val()};
        $.post("/signup",query,function(result){
            if(result.status=="ok"){
                key=result.message;
                $.post("/load",{id:key,page:"openSubtopic"},function(div){
                    setCookie("session",key,30);
                    $("#loginForm").fadeOut("fast",function(){
                        $("#loginForm").replaceWith(div);
                        $('#subtopicForm').fadeIn("fast");
                    });
                });
            }else if(result.status=="error"){
                alert(result.message);
            }
        });
    });


</script>