<div id="SignUpForm">
    <h1>Login</h1>
    <div class="card">
        <div class="cardBody">

            <input class="textbox" id="code" placeholder="Activation code" type="text"><br><br>


            <input class="textbox" id="username" placeholder="username" type="text"><br><br>
            <input class="textbox" id="password" placeholder="password" type="password"><br><br>
            <input class="textbox" id="passwordVal" placeholder="retype password" type="password"><br><br>
            <input class="textbox" id="email" placeholder="email" type="text"><br>
            <br>
            <input class="button" type="submit" id="SignInButton" value="Sign Up!">
        </div>
    </div>
</div>

<script type="text/javascript">

$("#SignInButton").click(signUp);


function signUp(){
    $("#SignInButton").prop('onclick',null).off('click');
    query={
        username:$("#username").val(),
        password:$("#password").val(),
        passwordVal:$("#passwordVal").val(),
        email:$("#email").val(),
        code:$("#code").val()
    };
    $.post("/signup",query,function(result){
        if(result.status=="ok"){

            $.post("/loadSafe",{page:"verify"},function(div){ 
                $("#SignUpForm").fadeOut("fast",function(){
                    $("#SignUpForm").replaceWith(div);
                    $('#loginFrom').fadeIn("fast");
                });
            });

        }else if(result.status=="error"){
            $("#SignInButton").click(signUp);
            alert(result.message);
        }
    });
}

  
</script>