<div id="SignUpForm">
    <h1>Login</h1>
    <div class="card">
        <div class="cardBody">
            <input class="textbox" id="email" placeholder="email" type="text"><br><br>
            <input class="textbox" id="username" placeholder="username" type="text"><br><br>
            <input class="textbox" id="password" placeholder="password" type="password"><br>
            <br>
            <input class="button" type="submit" id="SignInButton" value="SignIn">
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#SignInButton").click(function(){
        query={username:$("#username").val(),password:$("#password").val(),email:$("#email").val()};
        $.post("/signup",query,function(result){
            if(result.status=="ok"){
                $.post("/login",query,function(result){
                    if(result.status=="ok"){
                        key=result.message;
                        $.post("/load",{id:key,page:"openSubtopic"},function(div){
                            console.log('subtopic?')
                            setCookie("session",key,30);
                            $("#SignUpForm").fadeOut("fast",function(){
                                $("#SignUpForm").replaceWith(div);
                                $('#subtopicForm').fadeIn("fast");
                            });
                        });
                    }else if(result.status=="error"){
                        alert(result.message);
                    }
                });
                /*
                $.post("/loadSafe",{id:key,page:"openSubtopic"},function(div){
                console.log('return ok')
                key=result.message;
                $.post("/load",{id:key,page:"openSubtopic"},function(div){
                    setCookie("session",key,30);
                    $("#loginForm").fadeOut("fast",function(){
                        $("#loginForm").replaceWith(div);
                        $('#subtopicForm').fadeIn("fast");
                    });
                });
                */
            }else if(result.status=="error"){
                alert(result.message);
            }
        });
    });


</script>