
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */

/*
::-webkit-scrollbar-thumb {
    background: #42A5F5;
}
*/
.cardHeading{
    background-color:#42A5F5;
    margin:0px;
    color:white;
    padding:10px;
    padding-left:15px;
    margin:0px;
    border: 1pt solid rgba(0,0,0, 0.1);
}

.cardBody{
    background-color:white;
    padding:15px;
    border: 1pt solid rgba(0,0,0, 0.1);
}

.cardContent{
    overflow-x: scroll;
    margin: 0px;
    padding: 0px;
}

.CardContainer{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.smallText{
    font-size:15px;
    color:rgba(0,0,0, 0.50);
}


.card{
    width:100%;
    box-shadow: 5px 5px 5px #888888;
}

img{
    max-height: 300;
}

.optionsButton{
    color:rgb(34,224,151);
    font-weight: normal;
    font-size:15;
}