<template id="homepage">
    <div style="padding:30px">
        <div id="leftPane" style="float:left;width:30%"> 
            <component :is="loginView"  ></component><br>
            <subtopic topic="hottopics"></subtopic><br>
            <br><br>
        </div>
        <div id="rightPane" style="float:left;width:65%;margin-left:5%">       
            <subtopic topic="supertopic"></subtopic><br>
            <subtopic topic="yourtopics"></subtopic><br>
        </div>
    </div>
</template>

<script type="text/javascript">
    Vue.component('homepage', {
        template: "#homepage",
        data: function(){
            return {
                loginView:"login"
            }
        },
        created: function() {
            this.$on('changeView', function(value){
                this.loginView=value;
            });
        }
    });
</script>