<html>
    <head>
        <title>SubTopic: Login</title>
        <style>
            body{
                padding:30px;
                font-family: Lato, arial, verdana, helvetica, sans-serif;
                background-color:#FAFAFA;
               
 
            }

            .textbox {
                background-color: transparent;
                color: #eeeeee;
                outline: none;
                outline-style: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid #eeeeee 1px;
                color:black;
                padding-bottom:10px;
                font-size:15px;
                width:90%;
            }

            .text{
               color:grey;
               font-size:12px;
            }

            .card{
                width:100%;
                box-shadow: 5px 5px 5px #888888;
            }

            input[type="submit"]{
                border:none;
                background-color:transparent;
                color:#42A5F5;
                font-size:20px;
                font-weight: bold;
            }

          input[type='submit']:hover{
              cursor:pointer; 
              filter: brightness(85%);
          }

          .cardHeading{
             background-color:#42A5F5;
             margin:0px;
             color:white;
             padding:10px;
             padding-left:15px;
             margin:0px;
             border: 1pt solid rgba(0,0,0, 0.1);
          }

          .cardBody{
              background-color:white;
              padding:15px;
              border: 1pt solid rgba(0,0,0, 0.1);
          }

         hr {
            display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #eeeeee;
                margin: 1em 0;
                padding: 0; 
            }

        a {
            text-decoration: none;
            font-size:20px;
        }

        .smallText{
            font-size:15px;
            color:rgba(0,0,0, 0.50);
        }

        </style>
    </head>
    <body>

       <div style="float:left;width:30%"> 
       
            <div class="card">
                <h1 class="cardHeading">Login</h1>
                <div class="cardBody">
                    <form action="login" style="margin:0px">
                        <input class="textbox" name="username" placeholder="username" type="text"><br><br>
                        <input class="textbox" name="password" placeholder="password" type="password"><br>
                        <br>
                        <input type="submit" value="Login">
                        <input type="submit" value="Signup">
                    </form>
                </div>
            </div>
            
            <br><br>

            <div class="card">
                <h1 class="cardHeading">New SubTopics</h1>
                <div class="cardBody">
                    
                    <a href="wefew"> Show me nice dog pictures </a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>

                    <a href="gioerj"> I want to see the best potatos </a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>

                    <a href="fewfew">Attack on Titan gifs?</a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>

                    <a href="fwefewfeff">Best Doggies SubTopic</a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>

                    <a href="fwefewfeff">Programmer Memes</a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>
                
                </div>
            </div>

        </div>

        <div style="float:left;width:60%;margin-left:10%"> 
            <center>
                <h1 style="margin:0px">Programmer memes</h1>
            </center>
            <br><br>
            <div class="card" style="min-width:30%">
                
                <div class="cardBody">
                    <a href="fwefewfeff">Little Johnny Tables</a><br>
                    <span class="smallText">posted by Marc</span>
                    <br><br>
                    <img src="/images/xkdc.png">
                    <hr>

                    <a href="fewfewef">An SQL query goes into a bar, walks up to two tables and asks, "Can I join you?"</a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>

                    <a href="fewfoewf">One of my favorites:</a><br>
                    <span class="smallText">posted by Marc</span><br><br>
                    Q: how many programmers does it take to change a light bulb?<br>
                    A: none, that's a hardware problem
                    <hr>

                    <a href="fwefewfeff">When your hammer is C++, everything begins to look like a thumb.</a><br>
                    <span class="smallText">posted by Marc</span>
                    <hr>

                    

                </div>
            </div>
        </div>

    </body>

    

</html>
