

<div id='optionsPane'>

    <div class="card">

        <div class="cardBody" style="background-color:rgba(0,0,0,0.015)">

            <a class="optionsButton" onClick="hideSubtopic('<%=req.body.topicId%>',event)">Hide</a>  
            <span style="color:#888888"> · </span>
            <a class="optionsButton" onClick="loadSubtopic('#subtopicPane',{topic:'<%=req.body.topicId%>'},true,event);">View <%= count %> subtopic(s)</a>  
            <span style="color:#888888"> · </span>
            <a class="optionsButton">Cancel</a>  


            <% if(user!=null && subtopic!=null){ %>
                <% if (subtopic.username==user.username || user.status=="admin"){ %>
                    <span style="color:#888888"> · </span>
                    <a class="optionsButton" onClick="deleteSubtopic('<%=req.body.topicId%>',event)">Delete</a>
                <% } 
            }
            %>


        

        </div>

    </div>

    <br>

</div>


