<div id='optionsPane'>

   
    <a class="optionsButton" onClick="hideSubtopic()">Hide</a>  <span style="color:#888888">·</span>
    <a class="optionsButton" onClick="deleteSubtopic()">Delete</a>
    <br><br>
</div>
