<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" type="text/css" href="/static/Card.css"/>
<link rel="stylesheet" type="text/css" href="/static/Elements.css"/>
<script src="/static/jquery.js"></script>



<div id="app" style="padding:15px;float:left">

    <subtopic id="supertopic" style="width:100%"></subtopic>
    <subtopic id="hottopics" style="width:100%"></subtopic>
</div>

<script type="text/javascript">

    Vue.component('subtopic', {
        template: `
        <div>
            <div style="width:100%;margin-bottom:0px;">
                <h1 style="display: inline-block;">{{ supertopic.topic }} </h1>
            </div>
            <div class="card">
                <div class="cardBody" style="">
                    <div v-for="topic in subtopics" class="CardContainer" id="" onClick="loadOptions(this,'<%=topic.id%>',event)" >
                        <a v-on:click="loadSubtopic"> 
                            {{ topic.topic }}
                        </a>
                        <div class="cardContent" v-if="topic.type=='text'">
                            {{ topic.body }}
                        </div>

                        <div class="cardContent" v-else-if="topic.type=='image'">
                            <br>
                            <img v-bind:src=" '/images/' + topic.body + '.png' ">
                        </div>
                        
                        <hr>
                    </div>
                    <center><button v-on:click="loadComments" class="button" style="color:rgb(34,224,151)">Show More</button></center>
                </div>
            </div>
        </div>
        `,

        props: ['id'],

        data: function(){
            return {
                subtopics: [],
                supertopic: {topic:"loading..."},
                topicURL:null,
                page:0,
            }
        },

        methods: {
            loadComments: function () {
                this.page++;
                $.post("/api/subtopic",{topic:this.id,index:this.page},function(data){
                    this.subtopics=this.subtopics.concat(data.topics);
                }.bind(this));
            },
            loadSubtopic: function () {
                this.page=0;
                $.post("/api/subtopic",{topic:this.id},function(data){
                    this.subtopics=data.topics;
                    this.supertopic=data.supertopic;
                }.bind(this));
            }
        },

        created: function() {
           $.post("/api/subtopic",{topic:this.id},function(data){
                this.subtopics=data.topics;
                this.supertopic=data.supertopic;
            }.bind(this));
        }
    });

    var app = new Vue({
        el: '#app',
    });

      

</script>

